*{
    margin: 0;
    padding: 0;

    --gu: calc(100vh / 12);
    --text-col: #071406;
    --bg-col: #e9f8e7;
    --primary-col: #58d088;
    --secondary-col: #cbf0ed;
    --accent-col: #35bbae;
}

body{
    background-color: var(--bg-col);
    color: var(--text-col);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.selector{
    width: calc(2 * var(--gu) - 10px);
    margin-right: 10px;
}

.selector > div{
    background-color: var(--secondary-col);
    max-width: 100%;
    cursor: pointer;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 10px;
}
.selectorActive{
    background-color: var(--accent-col)!important;
    color: var(--secondary-col);
}

input{
    border-radius: 8px;
    border: none;
    padding: 5px;
}

.container{
    width: calc(10 * var(--gu));
    padding: 0 calc(2 * var(--gu));
    display: flex;
    margin-right: 0;
}

.tasks-container{
    display: flex;
    flex-direction: column;
    width: calc(8 * var(--gu));
}
.tasks-container > div{
    margin-bottom: 60px;
    display: flex;
}

.taskFilter{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    width: 100%;
}

.task{
    display: flex;
    flex-direction: column;
    background-color: var(--primary-col);
    border-radius: 8px;
    padding: 15px;
    margin-top: 30px;
}

.sub-tasks{
    display: flex;
    flex-direction: column;
}
.sub-tasks > div{
    margin-bottom: 20px;
}
.sub-tasks > div:last-child{
    margin-bottom: 5px;
}

.taskList{
    display: flex;
    flex-direction: column;
}

.task > *{
    margin-top: 10px;
}
.task > *:first-child{
    margin-top: 0;
}



.task-sub{
    background: var(--secondary-col);
    padding: 10px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.task-sub > input[type="text"]{
    background: none;
    color: var(--text-col);
    width: 90%;
}

.img-icon{
    width: 25px;
}
.cross{
    transform: rotate(45deg);
    cursor: pointer;
}

.task > div{
    display: flex;
    justify-content: space-between;
}
.task-info{
    display: flex;
    justify-content: space-between;
}
.task-info > div {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: calc(50% - 15px);
}
.task-info > div > *{
    margin: 10px 0;
}
.task-info > div:first-child{
    align-items: flex-start;
}
.task-info > div > input[type="text"]{
    width: 100%;
    background: var(--bg-col);
}

.task[type="text"]{
    width: 70%;
}

.task[inputtype="checkbox"]{
    margin-right: 10px;
}

.delete-subtask {
    cursor: pointer;
}

.addTask {
    cursor: pointer;
    font-size: 24px;
    align-self: center;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    background: var(--secondary-col);
    padding: 3px;
}
h2{
    margin-bottom: 10px;
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--accent-col);
    height: 60px;
}



/* МОДАЛЬНОЕ ОКНО */
body {
    overflow-x: hidden;
}

/* фон нашего модального окна */
.modalBackground {
    display: none;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    width: 100%;
    height: 100%;
    cursor: pointer;
    justify-content: center;
    top: 0px;
    /* указываем z-индекс для корректного наслаивания */
    z-index: 1;
}

/* позиционирование самого модального окна */
.modalActive {
    position: absolute;
    width: 350px;
    height: 495px;
    top: calc(50% - 250px);
    /* left: calc(50% - 175px); */
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    cursor: default;
    padding: 40px 20px;
}

/* кнопочка закрытия модального окна */
.modalClose {
    font-family: var(--font-regular);
    position: absolute;
    right: 5px;
    top: 5px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

/* сама картинка кнопочки закрытия */
.modalClose img {
    margin: 3px;
    width: 24px;
    height: 24px;
}

/* делаем позиционирование внутренних элементов относительно модального окна */
.modalWindow {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 50%;
    align-content: center;
    justify-content: space-between;
}